* {
  -webkit-font-smoothing: antialiased;
}

// Logo
.logo {
  width: 120px;
  display: inline-block;
}

._gradient-purple {
  background-image: linear-gradient(90deg, $purple, $magenta);
}

._gradient-purple--reverse {
  background-image: linear-gradient(90deg, $magenta, $purple);
}

._gradient-purple-40 {
  background-image: linear-gradient(40deg, $purple, $magenta);
}

._gradient-purple-dark {
  background-image: linear-gradient(90deg, transparent 0%, $black 100%);
  background-color: $purple-dark;
}

._gradient-purple-dark-40 {
  background-image: linear-gradient(40deg, transparent 0%, $black 100%);
  background-color: $purple-dark;
}

// ._gradient-purple-dark--reverse {
//   background-image: linear-gradient(40deg, transparent 0%, $purple-dark 100%);
//   background-color: $black;
// }

.box-shadow {
  box-shadow: 0 .8rem 2rem 0 rgba(62, 57, 107, 0.2),
  0 .1rem 9px 0 rgba(62, 57, 107, 0.06);
}

.box-shadow-light {
  box-shadow: 0 0 10px 0 rgba(183, 183, 183, 0.50);
}

// Buttons
.btn {
  border-width: 0;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    .95rem,
    $btn-line-height,
    $btn-border-radius
  );
}

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    .95rem,
    $btn-line-height-lg,
    $btn-border-radius
  );
}

.btn-arrow {
  &:after {
    content: " \2192";
    display: inline;
  }
}

@each $color,
$value in $theme-colors {
  .btn-gradient-#{$color} {
    color: $white;
    @extend ._gradient-purple;

    &:hover {
      color: $gray-200;
    }
  }
}

@each $color,
$value in $theme-colors {
  .btn-outline-#{$color} {
    box-shadow: inset 0px 0px 0px $btn-border-width $value;
  }
}

// Nav
.navbar {

  * {
    font-size: .85rem;
  }

  .navbar-collapse {
    transform: translateY(14px);
  }

  .nav-link {
    font-weight: $font-weight-bold;
  }

  .nav-item,
  .navbar-nav {
    @extend .align-self-center;
  }
}


// Hero

.hero__title {
  margin-top: 130px;
}

// Section Angles

.section-angle-base {
    content: ' ';
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    opacity: 1;
    transform: translateY(80px);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    z-index: 1;
    transition: all 1s ease;
    z-index: 1;
}

.section-angle--white {
  position: relative;

  &:after {
    background-color: $white;
    @extend .section-angle-base;
  }
}

.section-angle--purple-dark {
  position: relative;

  &:after {
    @extend ._gradient-purple-dark;
    @extend .section-angle-base;
  }
}

.section-angle--gray {
  position: relative;
  &:after {
    background-color: $gray-100;
    @extend .section-angle-base;
  }
}

// Twitter

.slick-slider {
  overflow: hidden;
}

.slick-slide {
  padding-right: 10px;
}

.pricing-plans {
  overflow-x: hidden;
}

// Pricing
.plans {

  &.slick-slider,
  .slick-list {
    overflow: visible; 
  }

  .slick-current {
    z-index: 9999;
    transform: translateY(-1rem);

    .plans__item-inner {
      position: relative;
      padding: 1rem 0;
    }
  }
}

// Table
.table-borderless {
  th,
  td,
  thead th,
  tbody+tbody {
    border: 0;
  }
}

.table {
  thead {
    th {
      font-weight: $font-weight-bold;
    }
  }
}

.plans-table {
  td,
  thead th {
    text-align: center;
  }

  thead th {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    @extend .small;
  }
}

// Accordian
.accordian {
  cursor: pointer;
}

// Blog
.blog-archive-header__tag {

  &:not(:last-child) {
    @extend .mr-2;
    @extend .mr-md-5;
  }
}

.post-img {
  height: 200px;
}

// Card Image Fix
.card-img-top--fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-archive {
  transform: translateY(-100px);
}

.text-decoration-none {
  text-decoration: none !important;
}

// Blog Post
.blog-single__header {
  padding-bottom: 30vw;
}

.blog-single__content {
  transform: translateY(-22.5vw);

  img {
    @extend .img-fluid;
  }
}



// Custom Icons
.icon {
  display: inline-flex;
  width: 50px !important;

  svg {
    width: 100% !important;
    height: auto !important;
    align-self: end;
  }

  &-serverless {
    width: 48px !important;
  }

  &-cms {
    width: 60px !important;
  }

  &-wordpress {
    width: 60px !important;
  }

  &-login {
    width: 70px !important;
  }

  &-create {
    width: 47px !important;
  }

  &-blog {
    width: 69px !important;
  }

  &-support {
    width: 63px !important;
  }

  &-100 {
    width: 100% !important;
  }
}

.icon-card {

  .card-header {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    +.card-body {
      padding-top: 50%;
    }
  }
}

// Process

.process {
  // position: relative;
  // overflow: hidden;

  // &:after {
  //   @extend .section-angle-base;
  //   top: -50%;
  //   background-color: $gray-100;
  //   height: 100%;
  //   z-index: 0;
  // }

  // .browser-mockup {
  //   height: 400px;
  //   overflow-y: hidden;
  //   z-index: 1;
  // }
}

.process__items {
  position: relative;
  z-index: 2;
  margin-top: -125px;
}